* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Zen Antique Soft', serif;
      scroll-behavior: smooth;
}

/* forste seksjon, navigansjonslinker og introduksjon.*/

.første_seksjon{
      min-height: 90vh;
      width: 100vw;
      background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.7)),url(../bilder/komponenter.jpeg);
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
}

.navigasjon{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 13vh;
}

.navigasjons_linker{
      display: flex;
      justify-content: space-around;
      width: 50%;
}

.navigasjons_linker a{
      color: rgb(226, 226, 226);
      font-weight: bold;
      font-size: 20px;
      text-decoration: none; 
      letter-spacing: 2px;
      position: relative;
} 

.navigasjons_linker a:after{
      content: "";
      position: absolute;
      background-color: rgb(255, 238, 2);
      height: 3.1px;
      width: 0;
      left: 0;
      bottom: -9px;
      transition: 0.3s;
}
.navigasjons_linker a:hover{
      color: rgb(255, 255, 255);
}

.navigasjons_linker a:hover:after{
      width: 100%;
}


.navigasjons_linker li{
      list-style: none;
}
.komponenter h2{
      color: rgb(226, 226, 226);
      text-align: center;
      position: relative;
      top: 100px;
      font-size: 60px;
      font-weight: bold;
      font-variant: small-caps;
}


.menulinjer{
      display: none;
      cursor: pointer;
}

.menulinjer div{
      width: 30px;
      height: 3.5px;
      margin: 6px; 
      background-color: rgba(250, 246, 246, 0.986);
      transition: 0.4s ease;
}

/* Responsiv brukopplevelse på mobil/mindre skjermstørrelser */

@media screen and (max-width: 1170px){
      .navigasjons_linker{ 
            width: 80% ;
      }
      .komponenter h2{
            font-size: 40px;
      }      
}


@media screen and (max-width: 1200px){
      
body{
      overflow-x: hidden;
}

      .navigasjons_linker{
            position: absolute;
            right: 0;
            height: 87vh;
            top: 13vh;
            display: flex;
            flex-direction: column;
            background-color: rgb(21, 10, 29);
            align-items: center;
            width: 35%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
      }

      .navigasjons_linker li{
            opacity: 0;
      }
      .menulinjer{
            display: block;
      }
}
/* Responsiv brukopplevelse på mobil/mindre skjermstørrelser */



.navigasjons_hendleser{
      transform: translateX(0%);
}

@keyframes navigasjonslinkensfade {
      /* vi kan legge til andre animasjoner her, og det vil fungere */
      from{
            opacity: 0;
            transform: translateX(100px);

      }
      to{
            opacity: 1;
            transform: translateX(0px);
      }
}

.linjemenu .linje1{      
      transform: rotate(-50deg) translate(-6px,8px);
}

.linjemenu .linje2{     
      opacity: 0; 
}

.linjemenu .linje3{      
      transform: rotate(50deg) translate(-6px,-8px);
}
/* forste seksjon, navigansjonslinker og introduksjon.*/







/* Andre seksjon, prosessor */

#seksjon2_main{
      background-color: #2e0000;
}

.Heleseksjon2{
      display: flex;
      width: 100%;
      min-height: 100vh;
      margin: auto;
      align-items: center;
      gap: 250px;
}


.tekst {
      flex: 1;
      padding: 20px;
      margin: 5px;
      text-align: center;
}


.overskrift{
      color: rgb(226, 226, 226);
      text-align: center;
      position: relative;
      font-size: 70px;
      font-weight: 600;
      font-style: italic;
      font-variant: small-caps;
}

.tekstforklaring h2{
      color: rgb(226, 226, 226);
      font-size: 40px;
      font-weight: 600;
      font-style: italic;
      font-variant: small-caps;
      text-align: center;
}
.tekstforklaring p, ol{
      font-family: 'Zen Antique Soft', serif;
      margin: 7px;
      color: rgb(226, 226, 226);

}



.bilder{
      flex: 1;
}

   

.bilder img{
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 30px;
      margin: 10px;
      background-position: center;
      box-shadow: 5px 5px 30px   rgb(204, 201, 201);

}
 

body{
      overflow-x: hidden;
}


@media screen and (max-width: 1200px){
      
      .Heleseksjon2{
            gap: 50px;
      }
      .tekstforklaring h1{
            font-size: 30px;
      }
      .tekstforklaring p{
            font-size: 17px;
      }
      .overskrift{
            font-size: 50px;
      }
      .bilder img {
            width: 30vw;
            height: 35vh;
      }
      
}

      
@media screen and (max-width: 1000px){

      #seksjon2_main > section{
            display: flex;
            flex-direction: column;
      }
      .tekstforklaring{
            position: relative;
            top: 10px;
      }
}    

/* her endrer position og tekststørrelse når skjermen <= 280px*/
@media screen and (max-width: 280px){
      .tekstforklaring p{
            font-size: 13px;
      }
}
/* her endrer position og tekststørrelse når skjermen <= 280px*/


/* Andre seksjon, prosessor */








/* Tredje seksjon, Arbeidsminne */



#seksjon3_main{
      background-color: #490202;
}


@media screen and (max-width: 1000px){

      #seksjon3_main > section{
            display: flex;
            flex-direction: column;
      }
      .tekstforklaring{
            position: relative;
            top: 10px;
      }
      .RAM > h2{
            font-size: 30px;
      }
}    
/* Tredje seksjon, Arbeidsminne */




/* Fjerde seksjon, Lagringsmedium */
#seksjon4_main{
      background-color: #2e0000;
}


@media screen and (max-width: 1000px){

      #seksjon4_main > section{
            display: flex;
            flex-direction: column;
      }
      .tekstforklaring{
            position: relative;
            top: 10px;
      }
      .lagringsmedium > h2{
            font-size: 30px;
      }
}    
/* Fjerde seksjon, Lagringsmedium */





/* <!-- Footerr seksjonen --> */
footer {
      text-align: center ;
      background-color: #490202;
      display: flex;
      flex-direction: column;
      
}

.referanse{
      color: rgb(226, 226, 226);
}
.merinfo{
      color: rgb(226, 226, 226);
}

.sosial{
      margin: 30px;
}

.sosiale_linker {
      padding: 10px;
      margin: 20px;
}

.sosiale_linker a{
      padding:12px;
      border: 2px solid rgb(3, 1, 1);
      border-radius: 50%;
      background-color: rgb(3, 2, 3);

}
.sosiale_linker a:hover{
      background-color: rgb(255, 255, 14);
      color:rgb(4, 121, 121);
      transition: all 0.3s ease;
}



@media screen and (max-width:600px) {
      .referanse{
            font-size: 20px;
      }
      .merinfo{
            font-size: 18px;
      }
}
/* <!-- Footerr seksjonen --> */
